/* ############################################ */
/* art wide - This is the code that was added to the player's css */
/* ############################################ */

.hap-music-player {
    position: relative;
    max-width: 850px;
    margin: 0 auto;
}
.hap-btn.hap-btn-random-off {
	display: none!important;
}
.mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 11px;
}

/* Border on whole player */
#hap-wrapper0 .hap-player-outer,  #hap-wrapper1 .hap-player-outer, #hap-wrapper2 .hap-player-outer, #hap-wrapper3 .hap-player-outer, #hap-wrapper4 .hap-player-outer, #hap-wrapper5 .hap-player-outer {
    background: rgb(255,255,255);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
/* Adjust thumbnail to square */
#hap-wrapper0 .hap-player-holder, #hap-wrapper1 .hap-player-holder, #hap-wrapper2 .hap-player-holder, #hap-wrapper3 .hap-player-holder, #hap-wrapper4 .hap-player-holder, #hap-wrapper5 .hap-player-holder {
    height: 150px;
    background-color: #f5f5f5;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}
#hap-wrapper0 .hap-player-thumb-wrapper, #hap-wrapper1 .hap-player-thumb-wrapper, #hap-wrapper2 .hap-player-thumb-wrapper, #hap-wrapper3 .hap-player-thumb-wrapper, #hap-wrapper4 .hap-player-thumb-wrapper, #hap-wrapper5 .hap-player-thumb-wrapper  {
    width: 130px;
}
/* Right side player progress */
#hap-wrapper0 .hap-seekbar, #hap-wrapper1 .hap-seekbar,  #hap-wrapper2 .hap-seekbar, #hap-wrapper3 .hap-seekbar, #hap-wrapper4 .hap-seekbar, #hap-wrapper5 .hap-seekbar {
    height: 33px;
}
#hap-wrapper0 .hap-progress-bg, #hap-wrapper1 .hap-progress-bg, #hap-wrapper2 .hap-progress-bg, #hap-wrapper3 .hap-progress-bg, #hap-wrapper4 .hap-progress-bg, #hap-wrapper5 .hap-progress-bg {
    height: 30px;
    left: 6px;
}
/* Squish title section together */
#hap-wrapper0 .hap-info, #hap-wrapper1 .hap-info, #hap-wrapper2 .hap-info, #hap-wrapper3 .hap-info, #hap-wrapper4 .hap-info, #hap-wrapper5 .hap-info {
    margin: -15px 10px -16px 10px;
}
/* Volume control */
#hap-wrapper0 .hap-volume-seekbar, #hap-wrapper1 .hap-volume-seekbar, #hap-wrapper2 .hap-volume-seekbar, #hap-wrapper3 .hap-volume-seekbar, #hap-wrapper4 .hap-volume-seekbar, #hap-wrapper5 .hap-volume-seekbar {
    margin-top: -10px;
    z-index: 1;
    }
/* Bottom right area */
#hap-wrapper0 .hap-player-controls, #hap-wrapper1 .hap-player-controls, #hap-wrapper2 .hap-player-controls, #hap-wrapper3 .hap-player-controls, #hap-wrapper4 .hap-player-controls, #hap-wrapper5 .hap-player-controls {
    margin-top: -13px;
    }
#hap-wrapper0 .hap-bottom-bar, #hap-wrapper1 .hap-bottom-bar, #hap-wrapper2 .hap-bottom-bar, #hap-wrapper3 .hap-bottom-bar, #hap-wrapper4 .hap-bottom-bar, #hap-wrapper5 .hap-bottom-bar {
    height: 35px;
    background: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}
#hap-wrapper0 .hap-player-thumb, #hap-wrapper1 .hap-player-thumb, #hap-wrapper2 .hap-player-thumb, #hap-wrapper3 .hap-player-thumb, #hap-wrapper4 .hap-player-thumb, #hap-wrapper5 .hap-player-thumb {
    border-radius: 5px 0px 0px 0px;
}
/* Hide Artist */
#hap-wrapper0 .hap-player-artist, #hap-wrapper1 .hap-player-artist, #hap-wrapper2 .hap-player-artist, #hap-wrapper3 .hap-player-artist, #hap-wrapper4 .hap-player-artist, #hap-wrapper5 .hap-player-artist {
    display: none;
}
/* Top progress bar bottom margin */
#hap-wrapper0 .hap-seekbar-wrap, #hap-wrapper1 .hap-seekbar-wrap, #hap-wrapper2 .hap-seekbar-wrap, #hap-wrapper3 .hap-seekbar-wrap, #hap-wrapper4 .hap-seekbar-wrap, #hap-wrapper5 .hap-seekbar-wrap {
    margin-bottom: 0px;
}
#hap-wrapper0 .hap-player-title, #hap-wrapper1 .hap-player-title, #hap-wrapper2 .hap-player-title, #hap-wrapper3 .hap-player-title, #hap-wrapper4 .hap-player-title, #hap-wrapper5 .hap-player-title {
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 400;
}
#hap-wrapper0 .hap-playlist-item, #hap-wrapper1 .hap-playlist-item, #hap-wrapper2 .hap-playlist-item, #hap-wrapper3 .hap-playlist-item, #hap-wrapper4 .hap-playlist-item, #hap-wrapper5 .hap-playlist-item {
    font-size: 13px;
    padding: 5px 0px;
	border-bottom: 1px solid #e5e5e5;
}
#hap-wrapper0 .hap-playlist-inner, #hap-wrapper1 .hap-playlist-inner, #hap-wrapper2 .hap-playlist-inner, #hap-wrapper3 .hap-playlist-inner, #hap-wrapper4 .hap-playlist-inner, #hap-wrapper5 .hap-playlist-inner {
    padding: 5px 20px 5px 20px;
}
#hap-wrapper0 .hap-media-time-current, #hap-wrapper1 .hap-media-time-current, #hap-wrapper2 .hap-media-time-current, #hap-wrapper3 .hap-media-time-current, #hap-wrapper4 .hap-media-time-current, #hap-wrapper5 .hap-media-time-current {
    left: 4px;
    font-size: 11px!important;
}
#hap-wrapper0 .hap-media-time-total, #hap-wrapper1 .hap-media-time-total, #hap-wrapper2 .hap-media-time-total, #hap-wrapper3 .hap-media-time-total, #hap-wrapper4 .hap-media-time-total, #hap-wrapper5 .hap-media-time-total {
    right: 1px;
    font-size: 11px!important;
}
@media (max-width: 400px) {
#hap-wrapper0 .hap-player-thumb-wrapper, #hap-wrapper1 .hap-player-thumb-wrapper, #hap-wrapper2 .hap-player-thumb-wrapper, #hap-wrapper3 .hap-player-thumb-wrapper, #hap-wrapper4 .hap-player-thumb-wrapper, #hap-wrapper5 .hap-player-thumb-wrapper {
    display: none;
}
}
#hap-wrapper0 .hap-load-level, #hap-wrapper1 .hap-load-level, #hap-wrapper2 .hap-load-level, #hap-wrapper3 .hap-load-level, #hap-wrapper4 .hap-load-level, #hap-wrapper5 .hap-load-level {
    background: rgb(49 49 49);
}
#hap-wrapper0 .hap-playlist-item-selected .hap-playlist-title-wrap, #hap-wrapper1 .hap-playlist-item-selected .hap-playlist-title-wrap {
    color: #e82525;
    font-weight: 600;
}
/* player progress bar fill */
.hap-art-wide-light .hap-progress-level {
    background: #4183d7;
}
/* Volume Control Color */
.hap-art-wide-light .hap-volume-level, .hap-art-wide-light .hap-volume-drag {
    background: #46BA74;
}
.hap-stats {
    min-width: 60px;
}
.hap-art-wide-light .hap-progress-bg {
    background: #313131;
}
.hap-art-wide-light .hap-player-outer {
    box-shadow: 0px 0px 0px #999;
}
/* Remove Shuffle Button */
.hap-btn.hap-btn-random-off {
		display: none!important;
	}
.hap-playlist-item-multiline .hap-playlist-item {
    flex-direction: row;
} 